@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  --primary-white: #faf9f9;
  --primary-dark-bg: #1b1b1b;
  --modal-bg: #121212;
  --primary-red: #ef233c;
  --primary-text: #353535;
  --secondary-text: #282828;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2px;
}

input, button {
  font-family: inherit;
}

a {
  color: var(--primary-white);
  text-decoration: none;
}

